{{!< default}}

{{#post}}

<main class="site-main">
    <article class="{{post_class}} single">

        {{#if og_description}}
            <div class="gh-outer">
                {{> "player"}}
            </div>
        {{else}}
            <header class="post-header gh-canvas">
                {{> "post-meta"}}
                <h1 class="post-title">{{title}}</h1>
                {{> "feature-image"}}
            </header>
        {{/if}}

        <div class="post-content gh-content gh-canvas">
            {{content}}

            <div class="post-share">
                <span class="post-info-label">{{t "Share:"}}</span>
                <a title="Twitter" aria-label="Twitter" class="twitter" href="https://twitter.com/share?text={{title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <i class="icon icon-twitter" aria-hidden="true">{{> "icons/twitter"}}</i>
                </a>
                <a title="Facebook" aria-label="Facebook" class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <i class="icon icon-facebook" aria-hidden="true">{{> "icons/facebook"}}</i>
                </a>
                <a title="Pinterest" aria-label="Pinterest" class="pinterest" href="http://pinterest.com/pin/create/button/?url={{url absolute="true"}}&media={{img_url feature_image absolute="true"}}&description={{title}}" onclick="window.open(this.href, 'pinterest-share', 'width=930,height=720');return false;">
                    <i class="icon icon-linkedin" aria-hidden="true">{{> "icons/pinterest"}}</i>
                </a>
                <a title="Email" aria-label="Email" class="email" href="mailto:?subject={{title}}&amp;body={{url absolute="true"}}">
                    <i class="icon icon-mail" aria-hidden="true">{{> "icons/mail"}}</i>
                </a>
            </div>
        </div>

        <div class="gh-canvas">
            <div class="author-list">
                <h3 class="author-list-title">
                    {{#if og_description}}Hosted by:{{else}}Written by:{{/if}}
                </h3>
                {{#foreach authors}}
                    {{> "author-box"}}
                {{/foreach}}
            </div>
            {{#if comments}}
                <section class="gh-comments">
                    <header class="gh-comments-header">
                        <h3 class="gh-comments-title author-list-title">Member discussion:</h3>
                        {{comment_count class="gh-comments-count"}}
                    </header>
                    {{comments title="" count=false}}
                </section>
            {{/if}}
        </div>

    </article>
</main>

{{/post}}